* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: "raleway";
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 100%;
    align-items: center;
    background-color: #EDDFD8;
    display: block;
    justify-content: center;
    margin: auto;
    min-height: 100%;
    position: relative;
}

nav {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    opacity: 1;
}

ul.navbar {
    top: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: rgba(39, 39, 39, 1);
    position: absolute;
    top: 0;
    width: 100%;
}

li.navlist {
    float: left;
    font: Raleway;
    font-weight: 900;
    opacity: 1;
}

li.navlist a {
    display: block;
    color: #EDDFD8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 1;
}

li.navlist a:hover:not(.active) {
    background-color: #272727;
    color: #f33f3f;
}

.active {
    color: #f33f3f;
    background-color: #272727;
    border-bottom: 4px solid white;
}

header {
    background-color: #272727;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form {
    background-color: #272727;
    vertical-align: middle;
    border-radius: 20px;
    box-sizing: border-box;
    height: 330px;
    padding: 20px;
    width: 320px;
}

.Avatar {
    float: right;
    vertical-align: middle;
    width: 80px;
    height: 76px;
    object-fit: cover;
    border-radius: 50%;
    border: 2.5px solid white;
    box-shadow: 3px 3px 3px grey;
    object-position: 50% 50%;
}

.logo {
    vertical-align: middle;
    width: auto;
    height: 20px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 600;
    margin-top: 80px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #ffffff;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #272727;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #272727;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
    color: #808097;
}

.input:focus~.placeholder {
    color: #ffffff;
}

.submit {
    background-color: #ca3939;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #ffffff;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

footer {
    width: 100%;
    background-color: #272727;
    color: white;
    text-align: center;
}

.content {
    padding: 10px;
    padding-bottom: 130px;
    margin-top: 50px;
}

.flist {
    display: inline;
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

.alist {
    background-color: #272727;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 5px 5px 40px 0px rgba(0, 0, 0, 0.5);
    border-radius: 100px 100px 100px 100px;
}

.alist:link,
.alist:visited {
    color: white;
    text-decoration: none;
}

.alist:hover {
    color: white;
    text-decoration: none;
}

.clsignup {
    margin-top: 18px;
    font-size: 10px;
}

.signup:link,
.signup:visited {
    color: white;
    text-decoration: none;
}

.signup:hover {
    color: violet;
    text-decoration: none;
}

.color_11 {
    vertical-align: middle;
}